<%- include('partials/header') %>

<div class="cover">
    <div class="container">
        <form action="/admin/addstore" id="addStoreByAdmin" style="display: flex; justify-content: space-between; flex-wrap: wrap;" method="post">
            <input type="text" placeholder="Store Name" name="storeName" required>
            <input type="email" placeholder="Email" name="email" required>
            <input type="password" placeholder="Password" name="password" required>
            <input type="text" placeholder="Owner Name" name="sellerName" required>
            <input type="Number" placeholder="Owner's Phone Number" name="phoneNumber" required>
            <input type="Number" placeholder="Owner's Whatsapp Number" name="whatsappNumber" required>
            <input type="Number" placeholder="Pin Code" name="pincode" required>
            <div>
                <label for="location">Location:</label>
                <select name="location" id="location">
                    <% for(let i=0;i < locations.length;i++) { %>
                        <option value="<%= locations[i].city %>,<%= locations[i].state %>"><%= locations[i].city %>,<%= locations[i].state %></option>
                    <% } %>
                </select>
            </div>
            <button>Submit</button>
        </form>
    </div>
</div>
<%- include('partials/footer') %>

<script src="">
    const formElement = document.getElementById("addStoreByAdmin");
    formElement.addEventListener()
</script>